stages:
  - build-check
  - test
  - quality
  - coverage

variables:
  R_LIBS_USER: "$CI_PROJECT_DIR/ci/lib"

cache:
  paths:
    - $R_LIBS_USER

before_script:
  - mkdir -p $R_LIBS_USER
  # CHANGE: Install tinytest instead of testthat
#  - R -e 'install.packages(c("devtools", "covr", "tinytest", "DT", "htmltools"))'
#  - R -e 'devtools::install_deps(dependencies = TRUE)'
  - R -e 'install.packages(c("devtools", "covr", "testthat", "DT", "htmltools", "styler", "lintr"))'
  - R -e 'devtools::install_deps(dependencies = TRUE)'


# Stage 1: Build Check
check_package:
  stage: build-check
  script:
    - make check

# Stage 2: Unit Tests (Tinytest)
#run_tests:
#  stage: test
#  script:
#    - make test


# REVERT: Test Stage using Testthat Reporter
run_tests:
  stage: test
  script:
    # We bypass the Makefile here to inject the Junit reporter for GitLab
    - Rscript -e 'testthat::test_local(reporter = c("summary", testthat::JunitReporter$new(file = "junit_result.xml")))'
  artifacts:
    when: always
    reports:
      junit: junit_result.xml

# Stage 3: Coverage
run_coverage:
  stage: coverage
  script:
    - make coverage
  coverage: '/Coverage: \d+.\d+%/'
  artifacts:
    paths:
      - coverage-report.html
    expire_in: 1 week

check_style:
  stage: quality
  script:
    - make style
  allow_failure: true # Optional: Don't block the pipeline, just warn

run_linter:
  stage: quality
  script:
    - make lint
  allow_failure: false # Strict: Block pipeline if syntax is bad
